<div class="container">

    <h2><%= @job.title %></h2>
        <p>Company: <%= @job.company %></p>
        <p>Location: <%= @job.location %></p>
        <% if @job.applied == true%>
          <p>Application Status: Applied</p>
        <% else %>
          <p>Application Status: Not Applied</p>
        <% end %>
        <p>Notes: <%= @job.note %></p>
        <hr><br>
</div>