<div class="container text-center">
  <form method="POST" action="/login" style="margin: 20%; padding: 5%;" class="border border-secondary rounded shadow-lg">
  <h4 style="margin-bottom: 5%;">Huntress Login</h4>
      <i class="far fa-user" style="margin-right: 3px;"></i><input type="username" name="username" size="30" style="max-width: 100%;" placeholder="Username" autofocus>
      <br>
      <i class="fas fa-key" style="margin-right: 2px;"></i><input type="password" name="password" size="30" style="max-width: 100%; margin-top: 1%;" placeholder="Password">
      <br>
    <input type="submit" value="Enter" class="btn btn-success btn-md" style="margin-top: 3%;">
  </form>
</div>