

<div class="container text-center">
    <h2>Log In</h2>
      <form method="POST" action="/login">
        Username: <input type="string" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Log In">
      </form>
</div>
