<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Log In</h2>
    <div class="content">
      <form method="POST" action="/login">
        Username: <input type="string" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Log In">
      </form>
    </div>
  </div>
</div>
