<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Register</h2>
    <div class="content">
      <form method="POST" action="/signup">
        Username: <input type="string" name="username"><br>
        Email: <input type="string" name="email"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Register">
      </form>
    </div>
  </div>
</div>