<div class="container text-center">
  <div style="margin: 20%; padding: 5%;" class="border border-secondary rounded shadow-lg">
  <h4 style="margin-bottom: 5%;">Support Contact</h4>
  <p class="text-left">If you need to reset your password or have another issue, please contact us at <a href="mailto:support@huntress.app">support@huntress.app</a></p>
  </div>
</div>